/* :root {
    --primary: #FFCE00;
    --secondary: #FE4880;
    --dark: #212121;
    --light: #F3F3F3;
  }

  * {
    margin: 0;
    padding: 0;
  }



  .card-apps {
    margin: 100px auto 0;
    width: 400px;
    height: 600px;
    perspective: 1000px;
  }

  .card__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
  }

  .card__inner.is-flipped {
    transform: rotateY(180deg);
  }


  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
  }

  .card__face--front {
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
    display: flex;
    align-items: center;
    justify-content_apps: center;
  }

  .card__face--front h2 {
    color: #FFF;
    font-size: 32px;
  }

  .card__face--back {
    background-color: var(--light);
    transform: rotateY(180deg);
  }

  .card__content_apps {
    width: 100%;
    height: 100%;
  }

  .card__header {
    position: relative;
    padding: 30px 30px 40px;
  }

  .card__header:after {
    content_apps: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%);
    z-index: -1;
    border-radius: 0px 0px 50% 0px;
  }

  .pp {
    display: block;
    width: 128px;
    height: 128px;
    margin: 0 auto 30px;
    border-radius: 50%;
    background-color: #FFF;
    border: 5px solid #FFF;
    object-fit: cover;
  }

  .card__header h2 {
    color: #FFF;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
  }

  .card__body {
    padding: 30px;
  }

  .card__body h3 {
    color: var(--dark);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  .card__body p {
    color: var(--dark);
    font-size: 18px;
    line-height: 1.4;
  } */

  .container{
    position: relative;
    width: 1000px;
    margin: 115;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 440px;
    grid-gap: 40px;
}
.card_apps {
    position: relative !important;
    display: flex !important;
    flex-direction: column !important;
    min-width: 0 !important;
    word-wrap: break-word !important;
    background-color: #fff !important;
    background-clip: border-box !important;
    border: 0 solid rgba(0, 0, 0, 0.125) !important;
    border-radius: 1rem !important;
}
.container .card_apps{
    position: relative;
    background: black;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.5s;
}
.card_apps:hover{
    transform: translateY(-20px);
    box-shadow: 0 20px 2px rgba(0,0,0,0.2);
}
.container .card_apps .img-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.container .card_apps:hover .img-box{
    opacity: 0.5;
}
.container .card_apps .img-box img{
    width: 200%;
}
.container .card_apps .content_apps{
    position: absolute;
    width: 100%;
    height: 60%;
    bottom: -100%;
    padding: 20px;
    padding-top: 60px;
    box-sizing: border-box;
    text-align: center;
    transition: 0.5s;
}
.container .card_apps:hover .content_apps{
    bottom: 0;
}
.container .card_apps:nth-child(1) .content_apps{
    background: linear-gradient(0deg,rgb(72, 0, 255), transparent);
}
.container .card_apps:nth-child(2) .content_apps{
    background: linear-gradient(0deg,purple, transparent);
}
.container .card_apps:nth-child(3) .content_apps{
    background: linear-gradient(0deg,rgb(0, 250, 250), transparent);
}
.container .card_apps .content_apps h2{
    margin: 0 0 10px;
    padding: 0;
    color: white;
    font-size: 20px;
}
.container .card_apps .content_apps h2 span{
    color: yellow;
    font-size: 16px;

}
.container .card_apps .content_apps p{
    margin: 0;
    padding: 0;
    color: white;
    font-size: 16px;

}
.container .card_apps .content_apps ul{
    display:flex ;
    margin: 20px 0 0;
    padding: 0;
    align-items: center;
    justify-content: center;

}
.container .card_apps .content_apps ul li{
    list-style: none;
}
.container .card_apps .content_apps ul li a{
    color: white;
    padding: 0 10px;
    font-size: 18px;
    transition: 0.5s;
}















:root {
    --primary-color: rgb(11, 78, 179);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }


  /* Global Stylings */
  label {
    display: block;
    margin-bottom: 0.5rem;
  }

  input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }

  .width-50 {
    width: 50%;
  }

  .ml-auto {
    margin-left: auto;
  }

  .text-center {
    text-align: center;
  }

  /* Progressbar */
  .progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 4rem;
  }

  .progressbar::before,
  .progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: -1;
  }

  .progress {
    background-color: var(--primary-color);
    width: 0%;
    transition: 0.3s;
  }

  .progress-step {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .progress-step::before {
    counter-increment: step;
    content: counter(step);
  }

  .progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #666 !important;
  }

  .progress-step-active {
    background-color: var(--primary-color);
    color: #f3f3f3 !important;
  }

  /* Form */
  .form {
    width: clamp(320px, 90%, 450px);
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 0.35rem;
    padding: 1.5rem;
  }

  .form-step {
    display: none;
    transform-origin: top;
    animation: animate 0.5s;
  }

  .form-step-active {
    display: block;
  }

  .input-group {
    margin: 2rem 0;
  }

  @keyframes animate {
    from {
      transform: scale(1, 0);
      opacity: 0;
    }
    to {
      transform: scale(1, 1);
      opacity: 1;
    }
  }

  /* Button */
  .btns-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .btn {
    padding: 0.75rem !important;
    display: block;
    text-decoration: none;
    background-color: var(--primary-color) !important;
    color: #f3f3f3 !important;
    text-align: center !important;
    border-radius: 0.25rem !important;
    cursor: pointer !important;
    transition: 0.3s;
  }
  .btn:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color) !important;
  }



/* form create apps */
.cardes {
    background-color: white;
    border: 1px solid #333;
    border-radius: .5rem;
    padding: .5rem;
    max-width: 300px;
    margin: 0 auto;
    animation: fade 250ms ease-in-out forwards;
  }

  .form-groupes {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
    gap: .25em;
  }

  .form-groupes:last-child {
    margin: 0;
  }

  .form-groupes > label {
    font-weight: bold;
    font-size: .8em;
    color: #333 !important;
  }

  .form-groupes > input {
    border: 1px solid #333 !important;
    border-radius: .25em;
    font-size: 1rem;
    padding: .25em;
  }

  .step-title {
    margin: 0;
    margin-bottom: 1rem;
    text-align: center;
  }

  .card.active {
    animation: slide 250ms 125ms ease-in-out both;
  }

  .multi-step-form {
    overflow: hidden;
    position: relative;
  }

  .hide {
    display: none;
  }

  @keyframes slide {
    0% {
      transform: translateX(200%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes fade {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(.75);
      opacity: 0;
    }
    100% {
      opacity: 0;
      transform: scale(0);
    }
  }

  .mobile{
    width: 350px;
    height: 590px;
    border-radius: 40px;
    margin-top: 0px;
    background-color: #fefdf9;
    overflow: hidden;
    text-align: center;
    box-shadow:0px 1px 8px 3px rgb(0 0 0 / 20%);
  }



